<nav>
    {{#if user}}
        <li>
            <a href="/">Home</a>
        </li>
        {{!-- <li>
            <a href="/about">About</a>
        </li> --}}
        <li>
        <a href="/ideas/add">Add Ideas</a>
        </li>
         <li>
        <a href="/users/logout">Logout</a>
        </li>
        <li>
        <a href="/ideas">Ideas</a>
        </li>
        
    {{else}}
         <li>
        <a href="/users/login">Login</a>
    </li>
     <li>
        <a href="/users/register">Register</a>
    </li>
    {{/if}}

</nav>